.levelUp-block{
	margin: 0 40rpx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.levelUp-text{
	margin-top: 60rpx;
	color: #333333;
	font-size: 38rpx;
}
.levelUp-input{
	border-bottom: solid 1px rgba(217,217,217,1);
	margin-top: 60rpx;
	font-size: 36rpx;
	color: #333333;
	text-align: center;
}
.levelUp-input-ph{
	color: #9B9B9B;
	font-size: 30rpx;
	text-align: center;
}
.levelUp-click{
	margin-top: 160rpx;
	width:658rpx;
	height:80rpx;
	background:rgba(57,130,252,1);
	border-radius:20px;
	color: rgba(108,163,255,1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.levelUp-click-high{
	margin-top: 160rpx;
	width:658rpx;
	height:80rpx;
	background:rgba(57,130,252,1);
	border-radius:20px;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}