.terminal-status-all-block{
	background: #f0f0f0;
}
.terminal-status-all-each-block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80rpx;
	background: white;
	margin-bottom: 4rpx;
	font-size: 30rpx;
	padding: 0 40rpx;
	box-sizing: border-box;
}
.terminal-status-all-each-block-sucess{
	color: #78D50E;
}
.terminal-status-all-each-block-fail{
	color: #FF5059;
}