.body{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
/* 主体开始 */
.content-block{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 40rpx;
	margin-top: 28rpx;
	margin-right: 40rpx;
}
/* 文字开始 */
.login-explain{
	/* 字体PingFangSC-Regular */
	font-size: 56rpx;
	color: #000000;
}
.login-detail{
	width: 494rpx;
	height: 40rpx;
	margin-top: 14rpx;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.login-agreement{
	font-size: 28rpx;
	color: #999999;
	white-space: nowrap;
}
.login-user{
	font-size: 28rpx;
	color: #517FB0;
	white-space: nowrap;
	margin-left: 10rpx;
}
/* 文字结束 */

/* 验证码开始 */
.num-block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 116rpx;
}
.num-view{
	width: 80rpx;
	height: 92rpx;
	border-bottom: solid 1px #5FA5F0;
	font-size: 54rpx;
	text-align: center;
}
.num-view-none{
	width: 80rpx;
	height: 92rpx;
	border-bottom: solid 1px #D9D9D9;
}
.num{
	text-align: center;
	font-size: 54rpx;
}
/* 验证码结束 */
.receive-again-y{
	font-size: 24rpx;
	margin-top: 34rpx;
	color: #507EB0;
	white-space: nowrap;
}
.receive-again-n{
	font-size: 24rpx;
	margin-top: 34rpx;
	color: #999999;
	white-space: nowrap;
}
/* 主体结束 */
/* 键盘开始 */
.keyboard{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 514rpx;
	background: rgba(210,213,219,0.90);
	margin-top: 222rpx;
	position: fixed;  
	bottom: 0rpx;
	width: 100%;
}
.keyboard-line{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.button-item{
	width: 234rpx;
	height: 92rpx;
	background: #FFFFFF;
	box-shadow: 0 1px 0 0 #848688;
	border-radius: 5px;
	margin: 12rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.button-item-delete{
	width: 234rpx;
	height: 92rpx;
	border-radius: 5px;
	margin: 12rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.delete{
	width: 46rpx;
	height: 36rpx;
}
/* 键盘结束 */