.option-block{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}
.exit-block{
	height: 100rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 30rpx;
	color:#303233;
	border-bottom: solid 1px rgba(240,240,240,1);
}