page{
	background: rgba(249,249,249,1);;
}
/* 主体开始 */
/* 分割线 */
.line{
	background: #F0F0F0;
	height: 20rpx;
}
.line-fine{
	background: #F0F0F0;
	height: 2rpx;
}
/* 时间开始 */
.time-block{
	height: 92rpx;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 40rpx;
	background: #FFFFFF 100%;
}
.time-block-left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 44rpx;
	align-items: center;
}
.calendar-pic{
	height: 44rpx;
	width: 44rpx;
}
.time-text{
	color: #303233;
	font-size: 30rpx;
	margin-left: 20rpx;
}
.time-block-right{
	height: 44rpx;
	width: 44rpx;
}
.confirm-button{
	height: 92rpx;
	width: 100%;
}
/* 时间结束 */
.chooseLine-block{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
/* 搜索开始 */
.search-block{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 126rpx;
	padding: 0 40rpx;
	background: #FFFFFF;
}
.search-left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 60rpx;
	width: 580rpx;
	background:rgba(249,249,249,1);
	border-radius:2px;
}
.search-pic{
	width: 28rpx;
	height: 28rpx;
	margin-left: 20rpx;
}
.search-input{
	margin-left: 14rpx;
	color: #4A4A4A;
	font-size: 28rpx;
}
.search-input-placeholder{
	font-size: 28rpx;
	color: #999999;
}
.search-text{
	color: #3982FC;
	font-size: 28rpx;
	margin-left: 34rpx;
}
/* 搜索结束 */
/* 排序开始 */
.order-block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 102rpx;
	padding: 0 40rpx;
	background: #FFFFFF;
	box-sizing: border-box;
}
.order-left{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	white-space: nowrap;
}
.order-left-text{
	color: #333333;
	font-size: 30rpx;
}
.order-left-pic{
	height: 44rpx;
	width: 44rpx;
	margin-left: 8rpx;
}
.order-center{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	white-space: nowrap;
}
.order-center-text{
	font-size: 30rpx;
	color: #333333;
}
.order-center-text-choose{
	font-size: 30rpx;
	color: #3982FC;
}
.order-center-pic{
	height: 44rpx;
	width: 44rpx;
	margin-left: 8rpx;
}
.order-right{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	white-space: nowrap;
}
.order-right-text{
	font-size: 30rpx;
	color: #333333;
}
.order-right-text-choose{
	font-size: 30rpx;
	color: #3982FC;
}
.order-right-pic{
	height: 44rpx;
	width: 44rpx;
	margin-left: 8rpx;
}
/* 排序结束 */
/* 选择开始 */
.picker-block{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.select-block{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 60rpx;
	padding: 0 40rpx;
	background: #FFFFFF;
	box-sizing: border-box;
	width: 100%;
}
.select-province{
	font-size: 30rpx;
	color: #333333;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90rpx;
}
.select-province-text{
	width: 90rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}
.select-company{
	font-size: 30rpx;
	color: #333333;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 230rpx;
}
.select-company-text{
	width: 230rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}
.select-substation{
	font-size: 30rpx;
	color: #333333;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 230rpx;
}
.select-substation-text{
	width: 230rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}
.show-line-block{
	padding: 0 40rpx;
	background: #FFFFFF;
	box-sizing: border-box;
}
.left-block{
	width:110rpx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #FFFFFF;
}
.province{
	height: 96rpx;
	width:110rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #333333;
	font-size: 28rpx;
}
.province-text{
	width:110rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.province-selected{
	height: 96rpx;
	width:110rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgba(57,130,252,1);
	font-size: 28rpx;
	background:rgba(249,249,249,1);
	border-left: 4px solid rgba(57,130,252,1);
}
.company-block{
	width: 234rpx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 6rpx;
}
.company{
	height: 96rpx;
	width:234rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #333333;
	font-size: 28rpx;
}
.company-text{
	width:234rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.company-selected{
	height: 96rpx;
	width:234rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgba(57,130,252,1);
	font-size: 28rpx;
}
.substation-block{
	width: 234rpx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 6rpx;
}
.substation{
	height: 96rpx;
	width:234rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #333333;
	font-size: 28rpx;
}
.substation-text{
	width:234rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.substation-selected{
	height: 96rpx;
	width:234rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgba(57,130,252,1);
	font-size: 28rpx;
}
.line-block{
	width: 154rpx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 6rpx;
}
.line{
	height: 96rpx;
	width:154rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #333333;
	font-size: 28rpx;
}
.line-text{
	width:154rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.line-selected{
	height: 96rpx;
	/* width:154rpx; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: rgba(57,130,252,1);
	font-size: 28rpx;
	white-space: nowrap;
}
/* 选择结束 */
/* 模糊查询结果开始 */
.search-result-block{
	background: #FFFFFF;
	padding: 20rpx 40rpx 0 40rpx;
	box-sizing: border-box;
}
.each-block{
	color: #999999;
	font-size: 24rpx;
	margin-bottom: 20rpx;
}
/* 模糊查询结果结束 */
/* 重试页面开始 */
.error-block{
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -10%;
	margin-top: 300rpx;
}
.retry_button{
	margin-top: 10rpx;
	border-radius: 10%;
}
/* 重试页面结束 */
/* 主体结束 */