/* 主体开始 */
.content-block{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 40rpx;
	margin-top: 46rpx;
	margin-right: 40rpx;
}
/* 手机号开始 */
.phone-block{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-bottom: solid 1px #D9D9D9;
	width: 670rpx;
	align-items: flex-end;

}

.num{
	font-size: 30rpx;
	color: #333333;
	margin-bottom: 24rpx;
}
.pull{
	width: 44rpx;
	height: 44rpx;
	margin-bottom: 20rpx;
}
.phone{
	 margin-left: 10rpx;
	margin-bottom: 12rpx; 
}
.phone-placeholder{
	color:#CCCCCC;
	font-size:30rpx;
}
.phone-input{
	font-size: 44rpx;
	color: #333333;
}
.reset-block{
	width: 88rpx;
	height: 88rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.phone-pic{
	width: 20rpx;
	height: 20rpx;
	margin-bottom: 32rpx; 
}

/* 手机号结束 */
/* 下一步按钮开始 */
.login-vercode{
	width: 658rpx;
	height: 80rpx;
	margin-top: 80rpx;
	background: #3982FC;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.text{
		color: #6CA3FF;
		font-size: 32rpx;
}
.textHigh{
		color: #FFFFFF;
		font-size: 32rpx;
}
/* 下一步按钮结束 */
/* 主体结束 */