/* 主体开始 */
.setNew-block{
	display: flex;
	flex-direction: column;
	margin: 0rpx 40rpx 0rpx 40rpx;
	justify-content: flex-start;
}
.text-top{
	font-size: 30rpx;
	color:rgba(51,51,51,1);
	margin-top: 40rpx;
}
.password-block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px rgba(217,217,217,1);
	margin-top: 30rpx;
}
.password-input{
	font-size: 44rpx;
	color: #333333;
}

.password-placeholder-input{
	color:#CCCCCC;
	font-size:30rpx;
}
.see-block{
	width: 88rpx;
	height: 88rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.see{
	width: 36rpx;
	height: 36rpx;
}
.text-bottom{
	font-size: 28rpx;
	color: #333333;
	margin-top: 40rpx;
}
/* 获取验证码按钮开始 */
.login-vercode{
	width: 658rpx;
	height: 80rpx;
	margin-top: 80rpx;
	background: #3982FC;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.text{
		color: #6CA3FF;
		font-size: 32rpx;
}
.textHigh{
		color: #FFFFFF;
		font-size: 32rpx;
}
.phone-block{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-bottom: solid 1px #D9D9D9;
	width: 670rpx;
	align-items: flex-end;
	margin-top: 60rpx;
}
.phoneNum{
	font-size: 32rpx;
	font-weight:400;
	color:rgba(51,51,51,1);
}
.vercode{
	 margin-left: 10rpx;
	margin-bottom: 12rpx; 
}
.vercode-placeholder{
	color:#CCCCCC;
	font-size:30rpx;
}
.vercode-input{
	font-size: 44rpx;
	color: #333333;
}
.reset-block{
	width: 88rpx;
	height: 88rpx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.vercode-pic{
	width: 20rpx;
	height: 20rpx;
}
.vercode-button{
	width: 150rpx;
	height: 48rpx;
	font-size: 24rpx;
	border-radius:12px;
	color:rgba(255,255,255,1);
	background: rgba(57,130,252,1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	margin-bottom: 22rpx;
}
.vercode-button-send{
	width: 160rpx;
	height: 48rpx;
	font-size: 18rpx;
	border-radius:12px;
	color:rgba(255,255,255,1);
	background: rgba(217,217,217,1);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	margin-bottom: 22rpx;
}
/* 获取验证码按钮结束 */
/* 主体结束 */